.login {
  width: 20rem;
  margin: 10rem auto;
  border: 1px solid silver;
}
.login .login_title {
  text-align: center;
  background-color: #4c90ff;
  color: white;
  line-height: 2.5rem;
  font-size: 1rem;
}
.login .login_body {
  padding: 1rem;
}
.login .login_body button {
  width: 100%;
}
